.login {

  @extend %centerInFullPage;
  @extend %fullHeight;

  &_container {

    width: 380px;

    &_input {

      @extend %fullWidth;

      &-error {

        color: $error

      }

    }

    &_error {

      text-align: center;
      color: $error;

    }

    &_register {

      text-align: center;

    }

  }

}
