<section class="login">
  <md-card class="login_container">
    <md-card-title>Sudoku App</md-card-title>
    <md-card-content>
      <form>
        <md-form-field class="login_container_input">
          <input mdInput placeholder="Email">
        </md-form-field>
        <md-form-field class="login_container_input">
          <input mdInput placeholder="Password">
        </md-form-field>
        <md-card-actions>
          <button md-button color="primary" class="md-raised md-primary">Login</button>
        </md-card-actions>
        <p class="login_container_register">
          <a [routerLink]="['/register']">Not a member yet? Register</a>
        </p>
      </form>
    </md-card-content>
  </md-card>
</section>
