@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'styles-variables';

@import 'app/login/login.component';
@import 'app/fourOfour/fourOfour.component';
@import 'app/register/register.component.scss';

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
}

a {
  color: $primaryColor;
  text-decoration: none;
}
